.container {
    align-items: 'center';
    font-family: "Montserrat";
    color: white;
    background-color: rgba(12, 40, 75, 0.87);
    overflow: hidden;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
}


